// Widescreens
@include mediaXL {
    .center {
        width: 70%;
    }
}

// Desktops & Laptops
@include mediaLg {
    .about-info {
        flex-direction: column;

        .bio-image {
            text-align: center;
        }
    }

    .row {
        display: inline-block;
    }

    .center {
        width: 60%;
    }
    
    
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    

    .about-info {
        flex-direction: column;

        .bio-image {
            text-align: center;

            img {
                max-width: 200px;
                max-height: 200px;
            }
        }
    }

    ul.menu-nav,
    div.menu-brending {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-brending {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 150px;
            height: 150px;
        }
    }

    .row {
        flex-direction: column;

        .col-1 {
            width: 100% !important;
        }

        .col-2 {            
            width: 100% !important;
        }
    }

    main#contact h1 {
        font-size: 4rem;
        margin-top: 10vh;
    }

    .center {
        width: 80%;
    }


}

// Smartphones
@include mediaSm {
    main#home {
        h1 {
            font-size: 3rem;
            margin-top: 10vh;
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 5px;
        }
    }

    
    main#about h1 {
        font-size: 3rem;
        margin-top: 10vh;
    }

    main#work h1 {
        font-size: 4rem;
        margin-top: 10vh;
    }

    .about-info {
        flex-direction: column;

        .bio-image {
            text-align: center;
            margin-left: -20px;

            img {
                max-width: 150px;
                max-height: 150px;
            }
        }

        .bio {
            max-width: 350px;
            margin: 25px 0 0 -20px !important;
            font-size: 16px !important;
            padding: 5px;
        }
    }

    .projects .item a img {
        width: 300px;
        height: 250px;
    }

    .center {
        width: 100% !important;
    }

    .col-1 {
        display: none;
    }

    .col-2 {
        margin: 0 0 0 -10px !important;
    }
}

